$borderWidth: 5px;

.btn-default {
  cursor: pointer;
  position: relative;
  color: var(--primary);
  background-color: #ffffff;
  border: 0;
  font-size: var(--headline7);
  min-width: 104px;
  // height: 40px;
  display: block;
  padding: 4px 22px;
  text-align: center;
  border-top: $borderWidth solid var(--white);
  border-left: $borderWidth solid var(--white);

  &:hover {
    border-top: $borderWidth solid var(--tertiary);
    border-left: $borderWidth solid var(--tertiary);
  }

  &:active,
  &.active {
    background-color: var(--secondary);
    color: var(--primary);
    border-top: $borderWidth solid var(--secondary);
    border-left: $borderWidth solid var(--secondary);
  }

  &:focus {
    border: 1px solid var(--secondary);
  }

  &.disable {
    background-color: var(--light-grey);
    color: #ffffff;
  }
}
