<div class="storyBoard9 bg-primary">
  <div class="diamonds">
    <img
      class="diamond"
      src="assets/images/diamond.png"
      alt="diamond.png"
      *ngFor="let item of diamondCount"
    />
    <!-- <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" />
    <img class="diamond" src="assets/images/diamond.png" alt="diamond.png" /> -->
  </div>
  <div class="title"><span>鑽石級</span>贊助商</div>
  <ol class="brandList">
    <li>
      <a href="https://blockstudio.tw/" target="_blank"
        ><img src="assets/images/blockStudio.png" alt="blockStudio.png"
      /></a>
      <a href="https://titansoft.com/tw" target="_blank">
        <img src="assets/images/titanSoft.png" alt="titanSoft.png"
      /></a>
      <a href="https://www.kdanmobile.com/zh-tw" target="_blank"
        ><img src="assets/images/kdanMobile.png" alt="kdanMobile.png"
      /></a>
    </li>
    <li>
      <a href="https://titansoft.com/tw/go_jira" target="_blank"
        ><img src="assets/images/jira.png" alt="jira.png"
      /></a>
      <a href="https://titansoft.com/tw/get_miro" target="_blank"
        ><img src="assets/images/miro.png" alt="miro.png"
      /></a>
      <a href="https://www.dottedsign.com/zh-tw/" target="_blank"
        ><img src="assets/images/dottedSign.png" alt="dottedSign.png"
      /></a>
    </li>
  </ol>
</div>
