@import "mixin";

@include mobile {
  img {
    width: 767px;
  }
}
.sunRiseContainer {
  position: relative;
  height: 1080px;
  overflow: hidden;
}
.sunRiseContainer div {
  position: absolute;
  bottom: -7px;
}

.lv3 {
  right: 0;
  @include mobile {
    bottom: -70px;
  }
}

.lv1 {
  width: 789px;
  height: 140px;
  left: calc(50% - (789px / 2));

  & p {
    &:first-child {
      border: 4px solid;
      margin: 0;
      margin: 0 auto 11px auto;
      @include mobile() {
        font-size: var(--headline4);
      }
      font-size: var(--headline1);
      text-align: center;
    }

    &:last-child {
      margin: 0;
      font-size: var(--headline6);
      @include mobile() {
        font-size: var(--headline7);
      }

      text-align: center;
    }
  }
}
