<div class="storyBoard7">
  <section class="white">
    <div class="info">
      <div class="content">
        <p class="tertiary">評審機制</p>
        <ol class="examineMechanism">
          <li>
            <p>初選：</p>
            <p>將由六角學院前端、UI 評審進行第一波篩選，</p>
            <p>並於 12/5（五）公布初選佳作名單</p>
          </li>
          <li>
            <p>決選：</p>
            <p>由三大企業針對該企業主題進行入圍獎最後篩選，</p>
            <p>並於 12/23（五）公布企業得獎名單</p>
          </li>
        </ol>
      </div>
    </div>
  </section>
  <section class="white">
    <div class="info">
      <div class="content">
        <p class="tertiary">獎項</p>
        <br />
        <ol class="reward">
          <li>
            <p>
              初選佳作 共六十位
              <span class="primary">數位獎狀</span>
            </p>
            <p><small>每週主題個人組十位、團體組十組</small></p>
          </li>
          <li>
            <p>
              個人企業獎 共六位
              <span class="primary">NTD 3,000/位</span>
            </p>
            <p><small>每週主題各 2 名，設計 1 位、前端 1 位</small></p>
          </li>
          <li>
            <p>
              團體企業獎 共三組
              <span class="primary">NTD 10,000/組</span>
            </p>
            <p><small>每週主題各 1 組</small></p>
          </li>
          <li>
            <p>以上皆提供完賽數位獎狀</p>
          </li>
        </ol>
      </div>
    </div>
  </section>
</div>
