<div class="basicInfo white">
  <div>I- 00</div>
  <div>HI- 99999</div>
  <div>Hex School</div>
</div>
<div class="storyBoard1 white">
  <!-- banner -->
  <div></div>
  <!-- options -->
  <ol class="options">
    <li
      class="selected"
      #option
      (mouseenter)="playOptionAni(1)"
      (click)="login()"
    >
      1 LOG IN
    </li>
    <li #option (mouseenter)="playOptionAni(2)" (click)="signUp()">
      2 SIGN UP
    </li>
  </ol>
  <span class="remark">Interactive And Responsive Web Design.</span>
</div>
