@import "mixin";

$borderWidth: 11px;

.btn-default {
  cursor: pointer;
  position: relative;
  color: var(--primary);
  background-color: #ffffff;
  border: 0;
  font-size: var(--headline1);
  width: 1370px;
  height: 140px;

  @include mobile {
    font-size: var(--headline4);
    width: 717px;
    height: 65px;
  }

  &:hover {
    border-top: $borderWidth solid var(--tertiary);
    border-left: $borderWidth solid var(--tertiary);
  }

  &:active {
    background-color: var(--secondary);
    color: var(--primary);
    border: 0;
  }
  &:focus {
    border: 1px solid var(--secondary);
  }

  &.disable {
    background-color: var(--light-grey);
    color: #ffffff;
  }
}
