<div class="storyboard2">
  <div class="aniBox">
    <div class="bg-primary sb2Box">
      <img class="coolAni" src="assets/images/coolAni.gif" />
      <img class="tank" src="assets/images/tank2.gif" />
      <p class="sb2BoxDialog1">
        <img class="dialog1" src="assets/images/dialog1.png" />
        <span class="typing1"></span>
      </p>
      <p class="slogan1 white" data-storke="羨慕別人的酷酷網頁動畫...">
        羨慕別人的酷酷網頁動畫...
      </p>
    </div>
  </div>
  <div class="aniBox">
    <div class="bg-primary sb2Box">
      <p class="sb2BoxDialog2">
        <img class="soldier1" src="assets/images/soldier1.png" />
        <img class="dialog2" src="assets/images/dialog2.png" />
        <span class="typing2"></span>
      </p>
      <p class="slogan2 white" data-storke="滿足不了同事的許願...">
        滿足不了同事的許願...
      </p>
    </div>
  </div>
  <div class="aniBox">
    <div class="bg-primary sb2Box">
      <p class="sb2BoxAni3">
        <img class="tree" src="assets/images/tree.png" />
        <img class="soldier2" src="assets/images/soldier2.png" />
      </p>
      <p class="slogan3 white" data-storke="動畫技能樹太雜無從下手...">
        動畫技能樹太雜無從下手...
      </p>
    </div>
  </div>
</div>
