<div class="storyBoard4">
  <div class="week1">
    <p class="tertiary">WEEK 1</p>
    <p class="white">The F2E 活動網站設計</p>
    <p class="white">視差滾動</p>
    <p class="white">#版塊設計</p>
    <div class="aniGroup">
      <div class="flagAni">
        <img
          src="assets/images/flag1_1.png"
          alt="flag1_1.png"
          class="flag1_1"
        />
        <img
          src="assets/images/flag1_2.png"
          alt="flag1_2.png"
          class="flag1_2"
        />
        <img
          src="assets/images/flag1_3.png"
          alt="flag1_3.png"
          class="flag1_3"
        />
        <img
          src="assets/images/flag1_4.png"
          alt="flag1_4.png"
          class="flag1_4"
        />
      </div>
      <img src="assets/images/tank2.gif" alt="tank2.gif" class="tank" />
    </div>
  </div>
  <div class="week2">
    <p>WEEK 2</p>
    <p class="white">今晚，我想來點點簽</p>
    <p class="white">canvas</p>
    <p class="white">#凱鈿行動科技</p>
    <div class="aniGroup">
      <div class="flagAni">
        <img
          src="assets/images/flag1_1.png"
          alt="flag2_1.png"
          class="flag2_1"
        />
        <img
          src="assets/images/flag1_2.png"
          alt="flag2_2.png"
          class="flag2_2"
        />
        <img
          src="assets/images/flag1_3.png"
          alt="flag2_3.png"
          class="flag2_3"
        />
        <img
          src="assets/images/flag1_4.png"
          alt="flag2_4.png"
          class="flag2_4"
        />
      </div>
    </div>
  </div>

  <div class="week3">
    <p>WEEK 3</p>
    <p class="white">Scrum 新手村</p>
    <p class="white">JS draggable</p>
    <p class="white">#鈦坦科技</p>
    <div class="aniGroup">
      <div class="flagAni">
        <img
          src="assets/images/flag1_1.png"
          alt="flag1_1.png"
          class="flag3_1"
        />
        <img
          src="assets/images/flag1_2.png"
          alt="flag1_2.png"
          class="flag3_2"
        />
        <img
          src="assets/images/flag1_3.png"
          alt="flag1_3.png"
          class="flag3_3"
        />
        <img
          src="assets/images/flag1_4.png"
          alt="flag1_4.png"
          class="flag3_4"
        />
      </div>
    </div>
  </div>
</div>
