<!-- <h1>hello world</h1>
<h2>hello world</h2>
<h3>hello world</h3>
<h4>hello world</h4>
<h5>hello world</h5>
<h6>hello world</h6>
hello world -->
<!--
<app-sigh-up-button></app-sigh-up-button>
<app-sigh-up-xl-button></app-sigh-up-xl-button>
<app-level-detail-button></app-level-detail-button> -->

<nav>
  <ol>
    <li><img src="../assets/images/title.png" alt="title.png" /></li>
    <li><a class="btn-black" href="">關卡資訊</a></li>
    <li><a class="btn-black" href="">攻略資源</a></li>
    <li><a class="btn-black" href="">求職專區</a></li>
    <li>
      <app-sigh-up-button></app-sigh-up-button>
    </li>
    <li><app-sigh-up-button [displayText]="'登入'"></app-sigh-up-button></li>
  </ol>
</nav>
<!-- storyboard1 -->
<section>
  <div class="basicInfo white">
    <div>I- 00</div>
    <div>HI- 99999</div>
    <div>Hex School</div>
  </div>
  <div class="storyBoard1 white">
    <!-- banner -->
    <div></div>
    <!-- options -->
    <ol class="options">
      <li class="selected" #option (mouseenter)="playOptionAni(1)">1 LOG IN</li>
      <li #option (mouseenter)="playOptionAni(2)">2 SIGN UP</li>
    </ol>
    <span class="remark">Interactive And Responsive Web Design.</span>
  </div>
</section>
<!-- storyboard2 -->
<section>
  <div class="storyboard2">
    <div class="aniBox">
      <div class="bg-primary sb2Box">
        <img class="coolAni" src="assets/images/coolAni.gif" />
        <img class="tank" src="assets/images/tank2.gif" />
        <p class="sb2BoxDialog1">
          <img class="dialog1" src="assets/images/dialog1.png" />
          <span class="typing1"></span>
        </p>
        <p class="slogan1 white" data-storke="羨慕別人的酷酷網頁動畫...">
          羨慕別人的酷酷網頁動畫...
        </p>
      </div>
    </div>
    <div class="aniBox">
      <div class="bg-primary sb2Box">
        <p class="sb2BoxDialog2">
          <img class="soldier1" src="assets/images/soldier1.png" />
          <img class="dialog2" src="assets/images/dialog2.png" />
          <span class="typing2"></span>
        </p>
        <p class="slogan2 white" data-storke="滿足不了同事的許願...">
          滿足不了同事的許願...
        </p>
      </div>
    </div>
    <div class="aniBox">
      <div class="bg-primary sb2Box">
        <p class="sb2BoxAni3">
          <img class="tree" src="assets/images/tree.png" />
          <img class="soldier2" src="assets/images/soldier2.png" />
        </p>
        <p class="slogan3 white" data-storke="動畫技能樹太雜無從下手...">
          動畫技能樹太雜無從下手...
        </p>
      </div>
    </div>
  </div>
</section>
<footer></footer>
