<nav class="bg-primary">
  <ol>
    <li><img src="assets/images/title.png" alt="title.png" /></li>
    <li>
      <a class="btn-black" href="https://2022.thef2e.com/news" target="_blank"
        >關卡資訊</a
      >
    </li>
    <li>
      <a
        class="btn-black"
        href="https://hackmd.io/ofJD4K7iSI65V19zxC7d0w"
        target="_blank"
        >攻略資源</a
      >
    </li>
    <li>
      <a class="btn-black" href="https://2022.thef2e.com/jobs" target="_blank"
        >求職專區</a
      >
    </li>
    <li>
      <app-sign-up-button (click)="signUp()"></app-sign-up-button>
    </li>
    <li>
      <app-sign-up-button
        [displayText]="'登入'"
        (click)="login()"
      ></app-sign-up-button>
    </li>
  </ol>
</nav>

<section>
  <app-story-board1></app-story-board1>
</section>
<section>
  <app-story-board2></app-story-board2>
</section>
<section>
  <app-story-board3></app-story-board3>
</section>
<section>
  <app-story-board4></app-story-board4>
</section>
<section>
  <app-story-board5></app-story-board5>
</section>
<section>
  <app-story-board6></app-story-board6>
</section>
<section>
  <app-story-board7></app-story-board7>
</section>
<section>
  <app-story-board8></app-story-board8>
</section>
<section>
  <app-story-board9></app-story-board9>
</section>
<footer></footer>
