@import "mixin";

nav {
  max-width: 1920px;
  height: 56px;
  background-color: var(--primary);
  ol {
    padding: 0 240px;
    display: flex;
    height: 100%;
    justify-content: right;
    align-items: center;

    li {
      text-align: center;
      padding: 0 15px;
    }

    @include tablet() {
      padding: 0;
      margin-right: 35px;
    }

    @include mobile() {
      padding: 0 25px;
      justify-content: center;
      a {
        min-width: 71px;
        display: block;
      }
    }
  }
}

.basicInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 275px 0 275px;
  font-size: var(--headline4);
  @include tablet() {
    padding: 24px 35px 0 35px;
  }
  @include mobile() {
    font-size: var(--headline6);
    padding: 24px 25px 0 25px;
  }
}
.storyBoard1 {
  width: 100%;
  height: 100vh;
  .selected {
    position: relative;
    &:before {
      content: "";
      background-image: url("../assets/images/tank1.gif");
      position: absolute;
      left: -145px;
      top: -3px;
      width: 86px;
      height: 53px;
      background-size: 100%;
      background-repeat: no-repeat;
      @include mobile() {
        width: 68px;
        height: 42px;
        left: -100px;
      }
    }
  }
  .options {
    cursor: pointer;
    font-size: var(--headline3);
    margin: 113px 0 103px 0;
  }
  @include mobile() {
    .options {
      font-size: var(--headline4);
      margin: 87px 0 225px 0;
    }
  }

  .remark {
    font-size: var(--headline4);
    @include mobile() {
      .options {
        font-size: var(--headline6);
      }
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  div:nth-child(1) {
    background-position: center;
    background-image: url("../assets/images/banner.png");
    width: 100%;
    height: 212px;
    background-repeat: no-repeat;
    margin-top: 113px;

    @include mobile() {
      background-image: url("../assets/images/banner_mobile.png");
      height: 119px;
      margin-top: 113px;
    }
  }
}

.storyboard2 {
  width: 100%;
  height: auto;
  overflow: hidden;
  .aniBox {
    padding-top: 50px;
    display: flex;
    &:nth-child(2) {
      display: flex;
      flex-direction: row-reverse;
    }
    .sb2Box {
      min-width: 980px;
      width: 980px;
      height: 570px;

      @include mobile() {
        min-width: 768px;
        width: 768px;
        height: 447px;
      }
      margin-bottom: 243px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .coolAni {
        position: absolute;
        width: 637px;
        height: 429px;
        margin: 63px 187px 78px 156px;
        @include mobile() {
          width: 499px;
          height: 336px;
        }
      }
      .tank {
        position: absolute;
        width: 336px;
        height: 135px;
      }
      .sb2BoxDialog1 {
        display: flex;
        position: absolute;
        top: -47px;
        right: 0;
        align-items: center;
        justify-content: center;
        .dialog1 {
          top: -47px;
          right: 0px;
        }
        .typing1 {
          position: absolute;
          font-size: var(--headline4);
          top: 20px;
        }
      }
      .slogan1 {
        position: absolute;
        right: -6em;
        bottom: 8em;
        font-size: var(--headline4);
        &::before {
          content: attr(data-storke);
          position: absolute;
          z-index: -1;
          -webkit-text-stroke: 7px var(--secondary);
        }

        @include mobile() {
          position: absolute;
          right: auto;
          bottom: -5em;
          font-size: var(--headline6);
        }
      }

      .sb2BoxDialog2 {
        display: flex;
        top: -45px;
        right: 5em;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: 0 0 2.5em 12.5em;
        @include mobile() {
          .soldier1 {
            width: 505px;
          }
        }
        .dialog2 {
          position: absolute;
          left: -3.7em;
          top: -5em;
          @include mobile() {
            left: 6em;
            top: -5em;
            width: 250px;
          }
        }
        .typing2 {
          position: absolute;
          font-size: var(--headline4);
          top: 0em;
          left: 2em;
          @include mobile() {
            font-size: var(--headline6);
            top: -1em;
            left: 7.5em;
          }
        }
      }

      .slogan2 {
        position: absolute;
        left: -6em;
        bottom: 5em;
        font-size: var(--headline4);
        &::before {
          content: attr(data-storke);
          position: absolute;
          z-index: -1;
          -webkit-text-stroke: 7px var(--secondary);
        }

        @include mobile() {
          position: absolute;
          left: auto;
          bottom: -5em;
          font-size: var(--headline6);
        }
      }

      .sb2BoxAni3 {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .tree {
          position: absolute;
          top: -5.8em;
          left: 10em;
        }
        .soldier2 {
          position: absolute;
          bottom: 0;
          left: 19em;
        }
      }

      .slogan3 {
        position: absolute;
        right: -6em;
        bottom: 3.5em;
        font-size: var(--headline4);
        &::before {
          content: attr(data-storke);
          position: absolute;
          z-index: -1;
          -webkit-text-stroke: 7px var(--secondary);
        }

        @include mobile() {
          position: absolute;
          right: auto;
          bottom: -5em;
          font-size: var(--headline6);
        }
      }
    }
  }
}
