<div class="storyBoard5">
  <section class="white">
    <div class="info">
      <img class="flag" src="assets/images/flag1_4.png" alt="flag1_4.png" />
      <div class="content">
        <p class="tertiary">SIGN UP!</p>
        <p>
          開放報名：
          <br />
          10/13(四) 早上 11:00 - 11/6(日) 晚上 23:59
        </p>
        <div class="emptyBlock"></div>
        <p>截止前可修改報名組別。</p>
      </div>
    </div>
    <div class="register">
      <button class="btn-register primary" type="button">點我註冊報名</button>
    </div>
  </section>
  <section class="white">
    <div class="info">
      <img class="flag" src="assets/images/flag1_1.png" alt="flag1_1.png" />
      <div class="content">
        <p class="tertiary">START!</p>
        <div class="emptyBlock"></div>
        <p>
          各組別開賽：
          <br />
          UI組、團體組開賽 10/31、前端組開賽 11/7
        </p>
      </div>
    </div>
  </section>
  <section class="white">
    <div class="info">
      <img class="flag" src="assets/images/flag1_1.png" alt="flag1_1.png" />
      <div class="content">
        <p class="tertiary">UPLOAD!</p>
        <div class="emptyBlock"></div>
        <p>
          登陸作品：
          <br />
          10/31(一) 中午 12:00 - 11/28(一) 中午 12:00
        </p>
      </div>
    </div>
  </section>
  <section class="white">
    <div class="info">
      <img class="flag" src="assets/images/flag1_1.png" alt="flag1_1.png" />
      <div class="content">
        <p class="tertiary">STREAM!</p>
        <p>資深開發者到來，直播分享零阻礙！</p>
        <div class="emptyBlock"></div>
        <p>
          線上直播：<br />
          11/3 - 11/24（每週四）
        </p>
      </div>
    </div>
  </section>
</div>
