// /* You can add global styles to this file, and also import other style files */
@import "_variables";
@import "_fonts";
* {
  font-family: "Cubic_11", "Times New Roman";
  max-width: 1920px;
  margin: 0;
}

ol li {
  list-style: none;
}

a {
  text-decoration: none;
}

// button series
.btn-primary {
  color: var(--primary);
}

.btn-secondary {
  color: var(--secondary);
}

.btn-light-grey {
  color: var(--light-grey);
}

.btn-tertiary {
  color: var(--tertiary);
}

.btn-black {
  color: var(--black);
}

// background series
.bg-primary {
  color: var(--primary);
}

.bg-secondary {
  color: var(--secondary);
}

.bg-light-grey {
  color: var(--light-grey);
}

.bg-tertiary {
  color: var(--tertiary);
}

.bg-black {
  color: var(--black);
}
