:root {
  // 主要色系
  --primary: #b82a06;
  --secondary: #3c0c00;
  --light-grey: #dcdcdc;
  --tertiary: #ffb3a4;
  --black: #000000;

  // 文字大小
  --headline1: 72px;
  --headline2: 56px;
  --headline3: 42px;
  --headline4: 36px;
  --headline5: 30px;
  --headline6: 24px;
  --headline7: 16px;
}
